only-built-dependencies[]=@firebase/util
only-built-dependencies[]=@google/genai
only-built-dependencies[]=esbuild
only-built-dependencies[]=protobufjs
only-built-dependencies[]=electron
only-built-dependencies[]=electron-builder
only-built-dependencies[]=electron-winstaller
